.project-container {
  width: 50%;
  border: 1px solid rgb(159, 159, 159);
  margin: 0.18rem;
  justify-content: space-between;
  border-radius: 1%;
  background-color: rgb(245, 245, 245);
  color: rgb(35, 35, 35);
  display: inline-flex;
}

.project-container-text-item {
  flex: 2 1 0;
}

.project-container-actions-item {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.project-container-actions-buttons {
  border: 1px solid green;
}

.project-container-actions-item h4 {
  border: 1px solid palevioletred;
  width: 50%;
  align-self: center;
}

button {
  padding: var(--14px);
  margin: var(--16px);
}
