h3,
h4 {
  color: whitesmoke;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
  border: 1px solid rgb(80, 80, 80);
  background-color: rgb(20, 20, 20);
}

.project-container-text-item {
  flex-basis: 85%;
  align-self: stretch;
}

.project-container-actions-item {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
}

.project-container-actions-buttons {
  flex: 3 1 0;
}

.project-container-actions-item h4 {
  width: 50%;
  align-self: center;
}

button {
  padding: var(--14px);
  margin: var(--16px);
}
